@import url('https://fonts.googleapis.com/css?family=Pangolin');
body{
    font-family: 'Pangolin', cursive;
    font-size: 1em; 
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 100vh;
    background: #edeef0;
}

.container{
    width: 400px;
    height: 500px;
    margin: auto; 
    padding-top: 10%;
}

.input_texts input{  
    opacity: 0.7;
    font-family: 'Pangolin', cursive;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    width: 400px;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #929292;
}

.container h1{
    color: #0B6372;
    margin: auto;
    font-size: 3em;
    text-align: center;
}

.agreement{
    padding-top: 15px;
    text-align: center;
    font-size: 1.5em;
}

.agreement input{
    height: 20px;
    width: 20px;
}

.button_reg input{
    margin-top: 10px;
    background-color: #1abac9;
    transition: background-color.8s ease;
    font-size: 2em;
    font-family: 'Pangolin', cursive;
    height: 50px;
    width: 400px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #1E82AD;
}

.button_reg input:hover{
    background-color: #26ABE4;
    transition: background-color.8s ease;
}
