
* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.container {
  width: 600px;
  border: 1px solid #40E0D0; 
  text-align: center;
  margin: 0 auto;
  margin-top: 11%;
  padding: 35px 0 55px 0;
  border-radius: 25px 25px 25px 25px;
}

header h1 {
  background: linear-gradient(#1E90FF, #40E0D0);
  -webkit-background-clip: text; 
  color: transparent;
  font-size: 75px;
  padding-bottom: 10px;
}

p{
  background: linear-gradient(#40E0D0, #AFEEEE);
  -webkit-background-clip: text; 
  color: transparent;
  font-size: 30px;
  margin-bottom: 3px;
}

.input_text input {
  padding: 2px 0 2px 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}

.agreement {
  background: linear-gradient(#26867D, #50C5C5);
  -webkit-background-clip: text; 
  color: transparent;
  font-size: 22px;
}

.button input{
  margin-top: 15px;
  height: 50px;
  width: 125px;
  color: #50C5C5;
  background-color: black;
  font-size: 17px;
}